// colors
$main: #4460F7;
$secondry: #2140E8;
$gold: #F9A52B;
$white: #FFFFFF;
$light: #F0F1F5;
$grey: #B9BDCF;
$grey-light: #E0E2EA;
$grey-dark: #9194A5;
$black: #1A1B1D;

// breakpoints

$desctop: 1024px;