@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import './variables';

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    background-color: $light;
}