.user-infobar {
    display: flex;
    justify-content: flex-end;
}

.user-avatar {
    position: relative;

    & .avatar-container {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    &__dropdown {
        position: absolute;
        right: 0;
        bottom: -70px;
        width: 150px;
        background-color: white;
        border-radius: 4px;
        overflow: hidden;

        display: none;
        z-index: 15;

        &--active {
            display: block;
            animation: showDropDown .5s;
        }

        &__item {
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: darken($color: white, $amount: 10%);
            }
        }
    }
}

@keyframes showDropDown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}